:root {
  --color-w: #ffffff;
  --color-1-2: #e5e5e5;
  --color-2: #212121;
  --color-3: #757575;
  --color-logo: #2196f3;
  --color-4: #2f303a;
  --color-st-hover: #188ce8;
  --color-teambg: #f5f4fa;
  --color-link-footer: rgba(255, 255, 255, 0.6);
  --color-icons: #afb1b8;
  --color-bg-footer-icons: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-3);
  background: var(--brand-color-1);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 100%;
}

ul {
  list-style: none;
}

h4 {
  color: var(--color-2);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
}

p {
  color: var(--color-3);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 24px;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.container {
  /* max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; */
}

/* ---------- Header Section ----------- */

.header {
  width: 100%;
}

.header__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-w);
  border-bottom: 1px solid #ececec;
  height: 80px;
}

/* Header nav */

.header .header__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer .logo,
.header__nav .logo {
  color: var(--color-logo);
  height: 31px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  outline: none;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-2);
  outline: none;
  position: relative;
}

.header__link.selected {
  color: var(--color-logo);
}

.header__link--selected::after {
  content: "";
  background-color: var(--color-logo);
  position: absolute;
  left: 0;
  top: calc(100% + 28px);
  width: 100%;
  height: 4px;
}

.header__link--selected:active {
  color: var(--color-logo);
}

.header__link:focus,
.header__link:hover {
  color: var(--color-logo);
}

/* Header contact */

.header__contact {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__contact .contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-2);
  outline: none;
  position: relative;
}

.header__contact .contact__icon {
  stroke: var(--color-3);
  cursor: pointer;
}

.contact__icon--email {
  width: 16px;
  height: 12px;
}

.contact__icon--smartphone {
  width: 10px;
  height: 16px;
}

.contact__link:hover,
.contact__link:hover .contact__link--smartphone {
  color: var(--color-logo);
  fill: var(--color-logo);
}

/* -- Studio Section */

.studio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgstudio.jpg);
  background-position: center;
}

.studio__pptext {
  color: var(--color-w);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  width: 700px;
  text-align: center;
}

.studio__button {
  color: var(--color-w);
  background: var(--color-logo);
  width: 200px;
  height: 50px;
  border-radius: 4px;
}

.studio__button:hover {
  background-color: var(--color-st-hover);
  width: 200px;
  height: 50px;
  left: 738px;
  top: 419px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* -- About Section */

.about {
  padding-top: 94px;
}

.about__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.about__boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.about__boxes-icon {
  width: 270px;
}

.clabout__boxes-tittle {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 16px;
}

/* -- What we do Section */

.WhatWeDo {
  padding: 94px 0;
}

.WhatWeDo__title {
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-2);
  margin-bottom: 50px;
  margin-top: 0;
}

.WhatWeDo__container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.WhatWeDo__content{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.WhatWeDo__bgDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
}

.WhatWeDo__description {
  color: var(--color-w);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* -- Our Team Section */

.team {
  padding: 94px 0;
  background: var(--color-teambg);
}

.team__title {
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-2);
  margin-bottom: 50px;
  margin-top: 0;
}
.team__container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__card {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social__icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.social__icons .icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 44px;
  width: 44px;
  outline: none;
}

.social__icons .icons__link:focus,
.social__icons .icons__link:hover {
  background-color: var(--color-logo);
}

.social__icons .icons__link .icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--color-icons);
}

.social__icons .icons__link:focus .icon,
.social__icons .icons__link:hover .icon {
  fill: var(--color-w);
}

/* -- Customers Section */

.customers {
  padding: 94px 0;
}

.customers__title {
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-2);
  margin-bottom: 50px;
  margin-top: 0;
}

.customers__container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.customers__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.customer__logo {
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-icons);
}

.customer__logo:focus,
.customer__logo:hover {
  border: 1px solid var(--color-st-hover);
}

.customer__logo .icon {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: var(--color-icons);
}

.customer__logo:hover .icon,
.customer__logo:focus .icon {
  fill: var(--color-logo);
}

/* -- Footer */

.footer {
  width: 100%;
  height: 252px;
  padding: 60px 200px;
  background: var(--color-4);
}

.footer__container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  gap: 70px;
}

.footer__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-w);
}

.link__contact {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1782px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.link__contact:hover {
  color: var(--color-logo);
}

.footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-w);
}

.footer__icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--color-bg-footer-icons);
  border-radius: 25px;
  outline: none;
}

.footer__icons-link:focus,
.footer__icons-link:hover {
  background-color: var(--color-logo);
}

.footer__icons {
  display: flex;
  gap: 10px;
}

.footer__icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--color-w);
}

/* NEWSLETTER */

.footer__newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.newsletter__input {
  outline: none;
  height: 50px;
  width: 358px;
  color: var(--color-w);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}

.newsletter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--color-w);
  font-size: 16px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__button:hover,
 .newsletter__button:focus {
  background-color: var(--color-st-hover);
  width: 200px;
  height: 50px;
  left: 738px;
  top: 419px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.newsletter__icon {
  width: 24px;
  height: 24px;
  fill: var(--color-w);
}

/* -- Portfolio */

/* -- Buttons Section */

.portfolio__buttons {
  width: 100%;
  padding: 106px 200px 50px 200px;
}

.portfolio__main {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.main__button {
  font-weight: 500;
  width: 128px;
  height: 38px;
  left: calc(50% - 128px / 2 - 160px);
  top: calc(50% - 38px / 2 - 735px);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}

.main__button:focus,
.main__button:hover {
  color: var(--color-w);
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
}


/* -- Projects Section */

#projects {
  padding: 94px 0;
}

.projects__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.projects__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.project__card {
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
}

.project__img {
  overflow: hidden;
  position: relative;
}

.project__img .project__img--overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 024px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover .project__img--overlay {
  transform: translateY(0%);
}

a .project__img--overlay p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--color-w);
}

.project__card:focus,
.project__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--color-2);
  padding-left: 24px;
  outline: none;
}

.project__description {
  color: var(--color-3);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding-left: 24px;
  outline: none;
}

/* Modal window */
/* Modal Window */

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  transition: 250ms;
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms;
  transform: translateY(200px);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop button {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
}

.close {
  width: 11px;
  height: 11px;
}

/* Modal content */
.backdrop-container {
  padding: 40px;
  position: relative;
  width: 528px;
  height: 581px;
  background-color: var(--color-w);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop-container label {
  color: var(--color-3);
  font-size: 12px;
}

.backdrop-container .modal-title {
  font-size: 20px;
  color: var(--color-2);
}

.modal-form__input {
  display: block;
  height: 30px;
  outline: none;
  font-size: 12px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  gap: 20px;

  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-container .modal-form__input:hover,
.backdrop-container .modal-form__input:focus {
  border: 1px solid var(--color-logo);
}

.backdrop-container .modal-form__input-group {
  position: relative;
  margin-bottom: 10px;
}

.backdrop-container .modal-form-input__icon {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 12px;
  height: 12px;
  fill: #212121;
  cursor: pointer;
}

.backdrop-container .modal-form__input:hover + .modal-form-input__icon,
.backdrop-container .modal-form__input:focus + .modal-form-input__icon {
  fill: var(--color-logo);
}

.backdrop-container textarea {
  display: block;
  outline: none;
  resize: none;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 15px;
  padding-top: 16px;

  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-container label textarea:hover,
.backdrop-container label textarea:focus {
  border: 1px solid var(--color-logo);
}

.backdrop-container .modal-form__checkbox {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  padding-left: 8px;
  cursor: pointer;
}

.backdrop-container .modal-form__checkbox .checkbox-label {
  cursor: pointer;
}

.backdrop-container .modal-form__button {
  position: absolute;
  left: 160px;
  top: 500px;
  width: 200px;
  height: 50px;

  background-color: var(--color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--color-w);
  cursor: pointer;
  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-container .modal-form__button:focus,
.backdrop-container .modal-form__button:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
